<div id="center">
<div style="margin-top: 10px;margin-right: 70px;">
  <a  class="btn btn-large disabled" > ربط الحساب يتويتر :</a>

<a  class="btn btn-large btn-danger" href="logout.php?logout"> تسجيل الخروج</a>
<a  class="btn btn-large btn-info" href="index.php"> عودة للرئيسية</a>
</div>

<div id="buttons">
<img id="img1" width="300" height="20" src="images/Purchased-Twitter-Bird-Round-Fotolia_21162897_M.jpg">
<a href="?login&oauth_provider=twitter"><img src="images/register_btn.png"></a>


</div>
{cc}
</div>
