<div id="center">
  <a style=" margin-top: 30px;margin-right: 90px;" class="btn btn-large disabled" > تسجيل الدخول :</a>
<a href="contactus.php" style=" margin-top: 30px" class="btn btn-info btn-large" ><i class="icon-user icon-white"></i> شراء عضوية</a>
  <a href="contactus.php" style=" margin-top: 30px" class="btn btn-info btn-large" ><i class="icon-envelope icon-white"></i> أتصل بنا</a>
<div style="margin-top: 0px;margin-right: 0px;">
 <form style="margin-top: 100px;margin-right: 120px;" action="index.php" method="POST" class="form-horizontal">
  <div class="input-prepend">
<span class="add-on">اسم المستخدم</span>
<input class="span2" id="prependedInput" type="text" name="us" placeholder="المستخدم"><br/><br/>
<span class="add-on">كلـمة المــرور</span>
<input class="span2" id="prependedInput" type="password" name="ps" placeholder="*******"><br/><br/>
 <button class="btn btn-success" name="su" type="submit" >دخول</button>
</div>
    </form>



</div>
{cc}
 </div>