

<div id="center">

<div style="margin-top: 10px;margin-right: 70px;">
<a  class="btn btn-large btn-info" href="index.php?p=Settings">إعدادات الحساب</a>
<a  class="btn btn-large btn-info" href="user.php"> مراقب المستخدمين</a>
<a  class="btn btn-large btn-info" href="reply.php"> الرد التلقائي</a>
<a  class="btn btn-large btn-info" href="replyV.php"> رد تلقائي جديد </a>
<a  class="btn btn-large btn-danger" href="logout.php?logout"> تسجيل الخروج</a>
</div>


<div id="buttons">

<img id="img1" width="400" height="20" src="images/socialmedia-companies.jpg">


</div>
{cc}
</div>
