<div id="center">
  <a style=" margin-top: 30px;margin-right: 90px;" class="btn btn-large disabled" > إضافة مستخدم :</a>
<div style="margin-top: 0px;margin-right: 0px;">
 <form style="margin-top: 20px;margin-right: 150px;" action="userOk.php" method="POST" class="form-horizontal">
<h4> إضافة حساب واحد </h4>
  <div class="input-prepend">
<span class="add-on">@</span>
<input class="span2" id="prependedInput" type="text" name="user" placeholder="المستخدم">
 <button class="btn btn-success" type="submit" >حــفــظ</button>
</div>
    </form>
     <form style="margin-top: 10px;margin-right: 150px;" action="usersM.php" method="POST" class="form-horizontal">
<h4> إضافة مجموعة من الحسابات </h4>
 <div class="input-prepend">
<textarea name="user" rows="4"></textarea>
 <div class="controls">
 <button class="btn btn-success" type="submit" >حــفــظ</button>
 </div>
</div>
    </form>

  <div style=" margin-top: 60px;margin-right: 90px;">
  <a class="btn btn-large btn-warning" href="user.php" > مراقب المستخدمين</a>
    <a class="btn btn-large btn-info" href="index.php" > العودة للرئيسية</a>
  </div>
</div>
 </div>