<div id="center">
  <a style=" margin-top: 30px;margin-right: 90px;" class="btn btn-large disabled" > تسجيل الدخول :</a>
<div style="margin-top: 0px;margin-right: 0px;">
 <form style="margin-top: 100px;margin-right: 160px;" action="index.php" method="POST" class="form-horizontal">
  <div class="input-prepend">
<span class="add-on">اسم المستخدم</span>
<input class="span2" id="prependedInput" type="text" name="us" placeholder="المستخدم"><br/><br/>
<span class="add-on">كلـمة المــرور</span>
<input class="span2" id="prependedInput" type="password" name="ps" placeholder="*******"><br/><br/>
 <button class="btn btn-success" type="submit" >دخول</button>
</div>
    </form>



</div>
<div id="cc">برمجة : <a href="http://waseethost.com/" >الوسيط هوست</a> جميع الحقوق محفوظه للوسيط هوست</div>
 </div>