

<div id="center">

<div style="margin-top: 40px;margin-right: 70px;">
<a  class="btn btn-large btn-info" href="user.php"> مراقب المستخدمين</a>
<a  class="btn btn-large btn-info" href="reply.php"> الرد التلقائي</a>
<a  class="btn btn-large btn-info" href="replyV.php"> رد تلقائي جديد </a>
<a  class="btn btn-large btn-danger" href="logout.php?logout"> تسجيل الخروج</a>
</div>


<div id="buttons">

<img id="img1" src="images/twitter-surf-icon.png">
  

</div>
<div id="cc">برمجة : <a href="http://waseethost.com/" >الوسيط هوست</a> جميع الحقوق محفوظه للوسيط هوست</div>
</div>
